body{
    margin:0;
}

a{
    text-decoration: none;
    color:rgb(26, 26, 26);
}

.navbar {
    background: white;
    margin:0;
    padding: 1.3rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

  .navbar a {
    text-decoration: none;
    color: black;
  }
  .logo {
    font-weight: bold;
  } 

.list-bg {
    background: rgb(249, 250, 255);
    padding: 10px;
  }
  .list-item {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5px;
    box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  }
  .list-item h4 {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
  }
  .list-item p {
    color: grey;
    margin : 5px 0px;
  } 

  .p-20 {
    padding: 20px;
  }
  input {
    box-sizing: border-box;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
  }
  button {
    padding: 10px 15px;
    background: lightgray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } 

  .list-item{
    opacity: 1;
    transition: all 1s;
  }

.userLogin{
    display:flex;
    align-items: center;
    gap:0.5rem;
    color:gray;
    font-size: 0.8rem;
}

.loginImg{
    width:2rem;
    border-radius: 50%;
}

/* darkmode */
.dark-mode .navbar{
    background: #222;
}

.dark-mode .navbar a{
    color : white;
}

.dark-mode .list-item, .dark-mode .list-bg{
    color : white;
    background: #323232;
}

.dark-mode .list-item a{
    color : white;
}

.dark-mode{
    background: #222;
    color : white;
}

.bg{
    width:100%;
    height: 40rem;
    object-fit: cover;
}

.image-container{
    position: relative;
    display: inline-block;
    margin:auto;
    width:100%;
}

.overlay{
    position: absolute;
    top:0;
    left:0;
    /* box-shadow: 0 0 3px black; */
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    box-sizing: border-box;
    color:white;
    background-color: rgba(0,0,0,0.3);
}

.explain-box{
    position: absolute;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding:1rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    width:30rem;
    top: 38rem;
    left: 50%; /* 왼쪽 위치를 가운데로 설정 */
    transform: translateX(-50%); /* 가로로 가운데로 이동 */
}

.dark-mode .explain-box{
    color:black;
}

.registerBox{
    max-width:20rem;
    margin:auto;
    margin-top:1rem;
    text-align: center;
    display:flex;
    flex-direction: column;
    color: rgb(169, 169, 250);
    /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); */
}

.registerBox input{
    border-radius: 5px;
    border:1px solid gray;
    transition: border 1s;
}

.registerBox input:focus{
    outline:2px solid rgb(118, 118, 208); /* 포커스되었을 때 테두리 색상 변경 */
}

.registerBox button{
    background-color: rgb(169, 169, 250);
    color:#fff;
}

/* write페이지 */
.p-20 form{
    max-width:20rem;
    margin:auto;
    margin-top:1rem;
    text-align: center;
    display:flex;
    flex-direction: column;
    /* color: rgb(169, 169, 250); */
    /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); */
}

.p-20{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 3rem;
}

.p-20 textarea{
    resize: none; /*크키조정못하도록*/
    font-family: inherit;
    border-radius: 5px;
    margin-top:10px;
    padding:10px;
    /* height:10rem; */
}

/* 왜 위에꺼에 적용안되고 밑에거에만 적용이되지? */
.p-20 .writeContent, .p-20 .writeTitle{
    height:10rem;
}